<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Магазин продуктов</h5>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:product_list' %}">Каталог</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:contacts' %}">Контакты</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'blog:blog_list' %}">Мои блоги</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:categories_list' %}">Категории продуктов</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'clients:main_page' %}">Рассылки для клиентов</a>
        {% if user.is_authenticated %}
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:product_create' %}">Создать продукт</a>
        {% endif %}
    </nav>
    <nav class="ms-5">
        <li class="nav-item dropdown list-group-item">
            <a class="p-2 btn btn-outline-success dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
                Авторизация
            </a>
            <ul class="dropdown-menu">
                {% if user.is_authenticated %}
                <form action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button class="dropdown-item" type="submit">Выйти</button>
                </form>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'users:register' %}">Регистрация</a></li>
                <li><a class="dropdown-item" href="{% url 'users:login' %}">Войти</a></li>
                {% endif %}
            </ul>
        </li>
    </nav>
</div>