{% extends 'catalog/home.html' %}
{% load my_tags %}
{% block content %}
<div class="row text">
    <div class="col-6">
        <div class="card-deck">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h5 class="my-0 font-weight-normal">Восстановление пароля</h5>
                </div>
                <div class="row">
                    <div class="card-deck">
                        <div class="card-align-self-end">
                            <div class="card-body">
                                <p>
                                    Введите ваш электронный адрес и мы сможем вам отправить ссылку для восстановления
                                    пароля.
                                </p>
                                {% if success_message %}
                                <p>{{ success_message }}</p>
                                <a href="{% url 'users:login' %}" class="btn btn-primary">Войти в личный кабинет</a>
                                {% else %}
                                <form class="text-body-color mb-3 form-control" method="post">
                                    {% csrf_token %}
                                    <input type="email" name="email" placeholder="Введите e-mail">
                                    <button type="submit" class="btn btn-success">
                                        Восстановить пароль
                                    </button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}