{% extends 'clients/base.html' %}

{% block content %}

{% for object in object_list %}
<div class="col-12">
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-1">
        <div class="col">
            <div class="card bg-transparent h-100">
                <div class="card-header">
                    <h5 class="card-title">{{ object.letter_subject }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ object.letter_body }}</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <div role="button" aria-label="Basic outlined example">
                                <a href="{% url 'clients:mailingmessage_update' object.pk %}"
                                   class="btn btn-outline-success">Изменить</a>
                                <a href="{% url 'clients:mailingmessage_delete' object.pk %}"
                                   class="btn btn-outline-danger">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="card-align-self-end mt-3">
    <div class="card-body">
        <a href="{% url 'clients:main_page' %}" type="button"
           class="btn btn-lg btn-block btn-danger">Назад</a>
    </div>
</div>

{% endblock %}