{% extends 'catalog/home.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    {% for product in object_list %}

    <div class="col-3">
        <div class="card-group">
            <div class="card-deck">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                    </div>
                    <div class="card">
                        <img class="card-img-top"
                             src="{{ product.image | media_filter }}">
                        <h2 class="card-title pricing-card-title">{{ product.price }} руб.</h2>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>- {{ product.description | slice:100 }}</li>
                        </ul>
                        <div class="card-footer">
                            <p class="text">Активная версия продукта: {{ product.active }}<p>
                                {% if perms.product.set_published and perms.product.change_description and perms.product.change_category or user == product.user %}
                                <a class="btn btn-sm btn-outline-success"
                                   href="{% url 'catalog:product_update' product.pk %}"
                                   role="button">Изменить</a>
                                {% endif %}
                                <a class="btn btn-sm btn-outline-primary"
                                   href="{% url 'catalog:product_detail' product.pk %}"
                                   role="button">Посмотреть</a>
                                {% if user.is_authenticated %}
                                <a class="btn btn-sm btn-outline-danger"
                                   href="{% url 'catalog:product_delete' product.pk %}"
                                   role="button">Удалить</a>
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}